<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.soms.nervous.android"
    android:versionCode="7"
    android:versionName="0.5.5" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SensorService"
            android:enabled="true" />
        <service
            android:name=".UploadService"
            android:enabled="true" />

        <!--
        <activity
            android:name=".IfThisThenThatActivity"
            android:label="@string/title_activity_if_this_then_that"
            android:theme="@style/AppTheme" >
        </activity>
        -->
        <activity
            android:name=".SensorLoggingToggleActivity"
            android:label="@string/title_activity_sensor_logging_toggle"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.soms.nervous.android.MainActivity" />
        </activity>
        <activity
            android:name=".SensorsStatisticsActivity"
            android:label="@string/title_activity_sensors_statistics" >
        </activity>
        <activity
            android:name=".ChartsWebViewActivity"
            android:label="@string/title_activity_charts_webview" >
        </activity>
               
        <activity
            android:name=".ServerDetailsActivity"
            android:label="@string/title_activity_server_details"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SensorFrequencyActivity"
            android:label="@string/title_activity_sensor_frequency"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.soms.nervous.android.MainActivity" />
        </activity>
        
        <!--
        <activity
            android:name=".SettingsActivity"
            android:label="SettingsTest"
            android:theme="@style/AppTheme" >
        </activity>
        -->
    </application>

</manifest>