<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <configPath>config.xml</configPath>
    <logDisplayVerbosity>15</logDisplayVerbosity>
    <logPath>log.txt</logPath>
    <logWriteVerbosity>15</logWriteVerbosity>
    <serverPort>25600</serverPort>
    <serverThreads>2</serverThreads>
    <sqlHostname>localhost</sqlHostname>
    <sqlPassword>1234</sqlPassword>
    <sqlPort>3306</sqlPort>
    <sqlUsername>nervous</sqlUsername>
    <sqlDatabase>nervous</sqlDatabase>
    <sqlsensors>
        <sensor>
            <sensorName>Accelerometer</sensorName>
            <sensorID>0000000000000000</sensorID>
            <attributes>
                <attribute>
                    <name>X</name>
                    <type>FLOAT</type>
                </attribute>
                <attribute>
                    <name>Y</name>
                    <type>FLOAT</type>
                </attribute>
                <attribute>
                    <name>Z</name>
                    <type>FLOAT</type>
                </attribute>
            </attributes>
        </sensor>
		<sensor>
            <sensorName>BLEBeacon</sensorName>
            <sensorID>B</sensorID>
            <attributes>
                <attribute>
                    <name>mac</name>
                    <type>INT64</type>
                </attribute>
                <attribute>
                    <name>advertisementMSB</name>
                    <type>INT64</type>
                </attribute>
                <attribute>
                    <name>advertisementLSB</name>
                    <type>INT64</type>
                </attribute>
                <attribute>
                    <name>bleuuidMSB</name>
                    <type>INT64</type>
                </attribute>
				<attribute>
					<name>bleuuidLSB</name>
					<type>INT64</type>
				</attribute>
				<attribute>
					<name>rssi</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>major</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>minor</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>txpower</name>
					<type>INT32</type>
				</attribute>
            </attributes>
        </sensor>
    </sqlsensors>
</config>
