<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <configPath>config.xml</configPath>
    <logDisplayVerbosity>15</logDisplayVerbosity>
    <logPath>log.txt</logPath>
    <logWriteVerbosity>15</logWriteVerbosity>
    <serverPort>25600</serverPort>
    <serverThreads>5</serverThreads>
    <sqlHostname>localhost</sqlHostname>
    <sqlPassword>1234</sqlPassword>
    <sqlPort>3306</sqlPort>
    <sqlUsername>nervous</sqlUsername>
    <sqlDatabase>nervous</sqlDatabase>
    <sqlsensors>
        <sensor>
            <sensorName>test</sensorName>
            <sensorID>1234</sensorID>
        </sensor>
    </sqlsensors>
</config>
