<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <configPath>config.xml</configPath>
    <logDisplayVerbosity>15</logDisplayVerbosity>
    <logPath>log.txt</logPath>
    <logWriteVerbosity>15</logWriteVerbosity>
    <serverPort>25600</serverPort>
    <serverThreads>2</serverThreads>
    <sqlHostname>localhost</sqlHostname>
    <sqlPassword>1234</sqlPassword>
    <sqlPort>3306</sqlPort>
    <sqlUsername>nervous</sqlUsername>
    <sqlDatabase>nervous</sqlDatabase>
    <sqlsensors>
		<sensor>
			<sensorName>Accelerometer</sensorName>
			<sensorID>0000000000000000</sensorID>
			<attributes>
				<attribute>
					<name>X</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Y</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Z</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Battery</sensorName>
			<sensorID>0000000000000001</sensorID>
			<attributes>
				<attribute>
					<name>Percent</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Charging</name>
					<type>BOOL</type>
				</attribute>
				<attribute>
					<name>UsbCharging</name>
					<type>BOOL</type>
				</attribute>
				<attribute>
					<name>AcCharging</name>
					<type>BOOL</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Gyroscope</sensorName>
			<sensorID>0000000000000002</sensorID>
			<attributes>
				<attribute>
					<name>X</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Y</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Z</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Humidity</sensorName>
			<sensorID>0000000000000003</sensorID>
			<attributes>
				<attribute>
					<name>Humidity</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Light</sensorName>
			<sensorID>0000000000000004</sensorID>
			<attributes>
				<attribute>
					<name>Light</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Magnetic</sensorName>
			<sensorID>0000000000000005</sensorID>
			<attributes>
				<attribute>
					<name>X</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Y</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Z</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Proximity</sensorName>
			<sensorID>0000000000000006</sensorID>
			<attributes>
				<attribute>
					<name>Proximity</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Temperature</sensorName>
			<sensorID>0000000000000007</sensorID>
			<attributes>
				<attribute>
					<name>Temperature</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Noise</sensorName>
			<sensorID>0000000000000008</sensorID>
			<attributes>
				<attribute>
					<name>Rms</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Spl</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band01</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band02</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band03</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band04</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band05</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band06</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band07</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band08</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band09</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band10</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band11</name>
					<type>FLOAT</type>
				</attribute>
				<attribute>
					<name>Band12</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Pressure</sensorName>
			<sensorID>0000000000000009</sensorID>
			<attributes>
				<attribute>
					<name>Pressure</name>
					<type>FLOAT</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>Connectivity</sensorName>
			<sensorID>000000000000000A</sensorID>
			<attributes>
				<attribute>
					<name>Connected</name>
					<type>BOOL</type>
				</attribute>
				<attribute>
					<name>NetworkType</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>Roaming</name>
					<type>BOOL</type>
				</attribute>
				<attribute>
					<name>WifiHashId</name>
					<type>STRING</type>
				</attribute>
				<attribute>
					<name>WifiStrength</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>MobileHashId</name>
					<type>STRING</type>
				</attribute>
			</attributes>
		</sensor>
		<sensor>
			<sensorName>BLEBeacon</sensorName>
			<sensorID>000000000000000B</sensorID>
			<attributes>
				<attribute>
					<name>Mac</name>
					<type>INT64</type>
				</attribute>
				<attribute>
					<name>AdvertisementMSB</name>
					<type>INT64</type>
				</attribute>
				<attribute>
					<name>AdvertisementLSB</name>
					<type>INT64</type>
				</attribute>
				<attribute>
					<name>BleuuidMSB</name>
					<type>INT64</type>
				</attribute>
				<attribute>
					<name>BleuuidLSB</name>
					<type>INT64</type>
				</attribute>
				<attribute>
					<name>RSSI</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>Major</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>Minor</name>
					<type>INT32</type>
				</attribute>
				<attribute>
					<name>TXpower</name>
					<type>INT32</type>
				</attribute>
			</attributes>
		</sensor>
    </sqlsensors>
</config>
